<?xml version="1.0"?>
<model>
  <name>weld_part_test</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Ziga Breznikar</name>
    <email>ziga.breznikar@student.um.si</email>
  </author>

  <description>
    Weld test part model for the WeldFlow Gazebo simulation.
  </description>
</model>